html body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #C8C8C8;
}
#header {
    top: 0;
    left: 0;
}
#header,#header img {
    width: 100%;
    height: auto;
}
#menu {
    margin-top: -100px;
    position: relative;
    z-index: 10;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#menu li {
    margin-left: 2px;
    float: left;
 /*pour IE*/;
}
#menu ul li a {
    float: left;
    width: 100px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
 /*pour avoir un effet "outset" avec IE :*/;
}
#menu ul li a:hover {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}
#page {
    position: relative;
    z-index: 4;
    background-color: #FBFBFB;
    width: 1350px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-shadow: -1px -1px 10px 2px rgba(0, 0, 0, 0.7);
}
#contenu {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
#contenuTexte {
    float: left;
	/*
	A REMETTRE QUAND LE FLUX RSS OK
	width:65%;
	margin-right:20px;
	*/
	/*A SUPPRIMER QUAND RSS OK*/
    width: auto;
    margin-right: 0px;
}
.rss {
    display: block;
    width: 150px;
    float: left;
	/*A SUPPRIMER QUAND RSS OK*/
    display: none;
}
.form-label {
    width: 150px !important;
}
.form-label-left {
    width: 150px !important;
}
.form-line {
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-label-right {
    width: 150px !important;
}
.form-all {
    width: 500px;
    background: #FFFFFF;
    color: #000000 !important;
    font-family: 'Verdana';
    font-size: 12px;
}
#id_5 {
    position: absolute;
    top: 0px;
    left: 200px;
}
#input_5 {
    height: 203px !important;
}
.form-all input,select,textarea {
    border: 1px solid #b7bbbd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px;
}
.form-all {
    background: url('http://cms.interlogy.com/uploads/image_upload/image_upload/global/8688_bg_form_envelope.png') no-repeat;
    margin: 0;
    padding-left: 24px;
    padding-top: 80px !important;
    width: 524px;
    height: 290px;
}
.form-error-message {
    display: none !important;
}
.form-line-error {
    background: none repeat scroll 0 0;
}
.form-validation-error {
    border: 1px solid red !important;
}
.form-button-error {
    display: block !important;
    margin-top: -12px;
    text-align: left;
}
.form-submit-button {
    margin-top: 0px !important;
    cursor: pointer;
}
.form-label-top {
    display: block !important;
}
.jotform-form {
    padding-bottom: 10px;
}
marquee {
    height: 200px;
    width: 95%;
    border: solid #B4C1D3 0px;
    padding: 5px;
}
td.cadre {
    height: 200px;
    width: 33%;
    border: solid #3c3c3c 1px;
}
#images {
    float: left;
}
#footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 234px;
    position: relative;
    z-index: 5;
    opacity: 0.85;
    text-align: center;
}
#subfooter {
    position: relative;
    z-index: 2;
    background-color: #FBFBFB;
    width: 1350px;
    height: 280px;
    ;
	margin-left: auto;
    margin-right: auto;
    margin-top: -250px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-box-shadow: 0px 0px 10px #000000;
    -webkit-box-shadow: 0px 0px 10px #000000;

    box-shadow: 0px 0px 10px #000000;
    text-align: center;
}
#subfooter p {
    color: #000;
    padding-top: 246px;
	/*position:absolute;*/;
}
#bas-page {
    z-index: 0;
    background-color: #C8C8C8;
    width: 100%;
    height: 10px;
    ;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    position: relative;
}
#form2 {
    margin: 1em 0;
    color: #fff;
    width: 320px;
 /* customize width, this form have fluid layout */;
}
#form2 h3 {
    margin: 0;
    background: #57a700 url(../images/form2/form_heading.gif) repeat-x;
    color: #fff;
    font-size: 20px;
    border: 1px solid #57a700;
    border-bottom: none;
}
#form2 h3 span {
    display: block;
    padding: 10px 20px;
    background: url(../images/form2/form_ico.gif) no-repeat 93% 50%;
}
#form2 fieldset {
    margin: 0;
    padding: 0;
    border: none;
    border-top: 3px solid #000;
    background: #000 url(../images/form2/form_top.gif) repeat-x;
    padding-bottom: 1em;
}
#form2 legend {
    display: none;
}
#form2 p {
    margin: .5em 20px;
}
#form2 label {
    display: block;
}
#form2 input, #form2 textarea {
    width: 272px;
    border: 1px solid #111;
    background: #282828 url(../images/form2/form_input.gif) repeat-x;
    padding: 5px 3px;
    color: #fff;
}
#form2 textarea {
    height: 125px;
    overflow: auto;
}
#form2 p.submit {
    text-align: right;
}
#form2 button {
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #70ad2e;
    background: #5aae00 url(../images/form2/form_button.gif) repeat-x;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
#contact {
    float: left;
}
#map {
    float: left;
    padding-left: 25px;
}
.fin {
    clear: both;
}
#video {
    padding-left: auto;
    padding-right: auto;
    float: left;
}
#hugues {
    float: left;
    width: 49%;
    margin-right: 25px;
}
#r44 {
    float: left;
    width: 49%;
}
#imageHelico {
    margin-bottom: 25px;
}
#imageAccueil {
    float: left;
}
#liens {
    text-align: left;
    width: auto;
    margin-bottom: 20px;
}
a img {
    border: none;
}
.lien {
    background: #d7eeff;
 /*si on veut une couleur de fond*/
    margin-bottom: 10px;
 /*espace entre les blocs*/
    width: auto;
 /*largeur du bloc image + texte*/;
}
.lien img {
    float: left;
}
.lien p {
    height: 135px;
 	/*hauteur de l'image*/
	margin-left: 230px; /*largeur de l'image + quelques px de marge*/
}
@media screen and (max-width:1370px) {
    #page {
        width: auto;
    }
    #subfooter {
        width: auto;
    }
    #imageAccueil {
        float: left;
        border: #000;
    }
    #imageHelico {
        float: left;
        border: #000;
    }
@media screen and (max-width:1365px) {
    #hugues{
		width: auto;
    }
    #r44 {
        width: auto;
    }
}
@media screen and (max-width:1230px) {
    #contenuTexte {
        width: auto;
        margin-right: 0px;
    }
    .rss {
        display: none;
    }
}
@media screen and (max-width:1150px) {
    #map {
        padding-left: 0px;
    }
}
@media screen and (max-width:825px) {
    #contenu {
        margin-top: -100px;
    }
}
@media screen and (max-width:817px) {
    #menu {
        margin-top: -22px;
        width: 35%;
        height: 350px;
    }
    html body {
        background-color: rgb(20, 20, 20);
    }
}
@media screen and (max-width:656px) {
    #menu {
        height: 600px;
    }
    #menu ul li a:hover {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
	.lien p {
		display:none;
	}
	.lien img {
		padding-left:120px;	
	}
}
@media screen and (max-width:640px) {
    #imageAccueil {
        display: none;
    }
    #imageHelico {
        display: none;
    }
    #subfooter p {
        color: #000;
        padding-top: 235px;
    }
}
@media screen and (max-width:627px) {
    #video {
        display: none;
    }
}
@media screen and (max-width:417px) {
    #footer {
        height: 100px;
    }
    #imageFooter {
        height: 100px;
        width: 150px;
    }
	.lien img {
		padding-left:25px;	
	}
}